@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow: scroll;
  overflow-x: hidden;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;  /* Remove scrollbar space */
  background: transparent;  /* Optional: just make scrollbar invisible */
}

:root {
  --primary-color: #0ea5e9;
  --error-color: #d83a52;
  --success-color: #13b6a6;
  --first-background: #20233c;
  --second-background: #383b50;
  --opacity-black: rgba(0, 0, 0, 0.6);
  --gray-color: #c5c7d0;
  --back-azulOs: #20233C;
  --back-azulCla: #7882F3;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.normal-button {
  background-color: var(--primary-color);
  padding: 13px 140px;
  border-radius: 16px;
  border: solid 3px var(--primary-color);
  font-weight: 500;
  font-size: 20px;
}

.normal-button:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  border-width: 3px;
  transition: 0.5s;
}

.error-normal-button {
  background-color: var(--error-color);
  padding: 13px 140px;
  border-radius: 16px;
  border: solid 3px var(--error-color);
  font-weight: 500;
  font-size: 20px;
}

.error-normal-button:hover {
  background-color: transparent;
  border-color: var(--error-color);
  border-width: 3px;
  transition: 0.5s;
}
.normal-small-button {
  background-color: var(--primary-color);
  padding: 13px 40px;
  border-radius: 16px;
  border: solid 3px var(--primary-color);
  font-weight: 500;
  font-size: 20px;
}

.normal-small-button:hover {
  background-color: transparent;
  border-color: var(--primary-color);
  border-width: 3px;
  transition: 0.5s;
}

.error-small-button {
  background-color: var(--error-color);
  padding: 13px 50px;
  border-radius: 16px;
  border: solid 3px var(--error-color);
  font-weight: 500;
  font-size: 20px;
}

.error-small-button:hover {
  background-color: transparent;
  border-color: var(--error-color);
  border-width: 3px;
  transition: 0.5s;
}

.errorMessage {
  color: var(--error-color);
  font-size: 16px;
  font-weight: 300;
}

.active {
  background-color: rgba(14, 165, 233, 0.8);
}

.inactive {
  background-color: transparent;
}

.hoverBg {
  background-color: transparent;
}

.hoverBg:hover {
  background-color: rgba(14, 165, 233, 0.8);
}

.modal {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  height: 70%;
  background-color: var(--first-background);
  margin: auto auto;
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--opacity-black);
}

.modal:focus {
  border: none;
}

.dropdown {
  position: relative;
}

.dropdown-content {
  position: absolute;
  top: 110%;
}

/* react-select styling */
.react-select__control {
  background-color: var(--second-background) !important;
  border: 2px solid var(--primary-color) !important;
  border-radius: 0.375rem !important;
  min-height: 2.75rem !important;
}
.react-select__value-container {
  padding-left: 1rem !important;
}
.react-select__input-container {
  color: #fff !important;
}

.react-select__placeholder {
  color: #9ca3af !important;
}

.react-select__menu {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.react-select__option:hover {
  background-color: var(--primary-color) !important;
}

.react-select__multi-value {
  background-color: rgba(14, 165, 233, 0.8) !important;
}

.react-select_multi-value_label {
  color: var(--gray-color) !important;
}

.react-select__indicator-separator {
  background-color: var(--primary-color) !important;
}

.react-select__indicator {
  color: var(--primary-color) !important;
}

.react-select__single-value {
  color: white !important;
}

/* style About Us*/
.button {
  background-color: #0EA5E9;
  color: white;
  padding: 15px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  border-radius: 12px;
  border: 1px solid #0EA5E9;
}

.button:hover {
  -webkit-transition-duration: 0.4s;
  transition-duration: 0.4s;
  transition-duration: 0.4s;
  background-color: transparent;
  color: white;
}

.backgroundAboutUs{
  background: linear-gradient(var(--back-azulOs),var(--back-azulCla));
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
  overflow-y: hidden;
}
.Toastify__toast--error {
  border: 1px solid #EB5757;
  border-radius: 5px !important;
  background-color:var(--error-color) !important;
}
.Toastify__toast--error::after {
  position: absolute;
  color: #ffffff !important;
  font-size: 15px;
  font-weight: 700;
  left:265px;
  padding-top: 14px !important;
}
.Toastify__toast--error::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success {
  border: 1px solid #3A9EA5 !important;
  border-radius: 5px !important;
  background-color:var(--success-color) !important; 
}
.Toastify__toast--success::before {
  position:relative; 
  z-index:100000;
  left:12px;
  top:6px;
}
.Toastify__toast--success::after {
  position: absolute;
  color: #ffffff !important;
  font-weight: 700;
  font-size: 0.875rem !important;
  left:265px;
  padding-top: 14px !important;
}

.toastBody {
  color: #ffff; 
  font-size: 0.875rem !important;
}

.toastProgress {
  background: #fff !important;
}